APP_APP_DOMAIN=http://127.0.0.1:5000
PORT=5000

TOKEN_SECRET=
TOKEN_EXPIRE=7d

DB_NAME=DDD

MG_HOST=mongodb://127.0.0.1:27017
MG_USER=
MG_PASS=

PG_HOST=
PG_PORT=
PG_USER=
PG_PASS=

RD_HOST=
RD_PORT=
RD_USER=
RD_PASS=
RD_DB=0